/* Hero */
.hero_background {
  background-image: url(../images/exhibition-1863344_1920.jpg);
}

/* Main */
.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto 40px auto;
  padding: 20px;
  display: grid;
}

.card img {
  max-height: 250px;
  justify-self: center;
}

.card_biology a {
  grid-row: 5/6;
}
.card_biology img {
  margin: 10px 0;
}
.card_blue {
  margin: 0 auto 30px auto;
}
.card_blue ul {
  grid-column: 2/3;
  padding-bottom: 30px;
}

.card_explore a {
  grid-row: 4/5;
}

.card_opening {
  grid-row: 3/4;
}
.card_opening img {
  grid-row: 2/3;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.opening_newline {
  display: block;
}

/* Article */
.some {
  display: none;
}

.hide {
  display: none;
}

/* Footer */
footer {
  background-color: #ffd400;
}
