/* Hero */
.hero_background {
  background-image: url(../images/library-1132573_1920.jpg);
}

/* Main */
main section h2 {
  padding-top: 40px;
  padding-left: 10px;
}

main section p {
  padding: 10px;
}

.text_card_3 {
  display: grid;
  padding-bottom: 40px;
}
.text_card_3 img {
  grid-row: 3/4;
  padding: 10px;
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

/* Footer */
.footer {
  border-top: none;
}
