@media only screen and (min-width: 410px) {
  /* Nav */
  nav li {
    padding-left: 50px;
  }
  /* Main */
}

@media only screen and (min-width: 560px) {
  /* Header */
  .menu-top {
    grid-template-columns: 400px 1fr 70px;
  }
  /* Footer */
  .footer {
    grid-template-columns: auto 1fr auto;
    align-items: start;
  }
  .footer div:nth-child(2),
  .footer div:nth-child(4) {
    grid-column: 3/4;
  }
  .social {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    grid-column: 1/4;
  }
  .copyright .hide:first-child {
    display: inline;
  }
  .copy_block {
    display: inline-block;
  }
}
@media only screen and (min-width: 700px) {
  /* Hero */
  .hero_background {
    height: 350px;
  }

  /* Contact */
  .contact_main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: start;
    margin-top: 20px;
  }
  .contact_h2 {
    margin-top: 0;
  }
  .contact_card {
    max-width: 400px;
    justify-self: start;
    margin: unset;
  }
  .section_form {
    width: 100%;
    max-width: 500px;
    justify-self: end;
  }
}

@media only screen and (min-width: 720px) {
  /* Footer */
  .copyright .hide {
    display: inline;
  }
}

@media only screen and (min-width: 767px) {
  /* Main */
  main section img {
    height: 100%;
    max-height: 410px;
    max-width: 375px;
  }
  .text_card_3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .text_card_3 h2 {
    grid-column: 1/4;
  }
  .text_card_3 img {
    grid-area: 2/3/6/4;
  }
  .text_card_3 p {
    grid-column: 1/3;
    padding-right: 40px;
  }

  .teachers img {
    grid-column: 1/2;
    padding-left: 0;
    height: 100%;
  }
  .teachers p {
    grid-column: 2/4;
    padding-right: 10px;
    padding-left: 30px;
  }
  .researchers p {
    grid-column: 1/4;
    padding: 10px;
  }
  /* Index */
  .index_container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: 0 auto 40px auto;
  }
  .card,
  .card_blue {
    width: 100%;
    margin-bottom: 0;
  }
  .card_biology {
    grid-area: 1/2/2/3;
  }
  .card_biology h2 {
    padding-bottom: 0;
  }
  .card_explore {
    grid-template-rows: auto auto 1fr auto auto;
  }
  .card_explore a {
    grid-row: 5/6;
  }
  .card_explore img {
    grid-row: 4/5;
  }
  .card_explore p {
    grid-row: 2/3;
  }
  .card_opening {
    grid-column: 1/3;
  }
  .card_opening img {
    grid-area: 2/2/4/3;
    align-self: end;
    padding-left: 20px;
    height: 100%;
    object-fit: cover;
  }
  .card_opening div:first-of-type {
    grid-area: 2/1/3/2;
  }
  .card_opening div:nth-of-type(2) {
    grid-row: 3/4;
  }

  /* Exhibition */
  .text_card_2 h2 {
    grid-column: 1/3;
  }
  .text_card_2 p {
    grid-column: 1/3;
  }
  .text_card_2 p:nth-of-type(2) {
    grid-area: 3/2/4/3;
  }
  .text_card_2 p:nth-of-type(3) {
    grid-area: 4/2/5/3;
  }
  .text_card_2 img {
    grid-row: 3/6;
  }
  .robo_card img {
    grid-row: 2/3;
  }
  .robo_card p {
    grid-area: 2/2/3/3;
  }

  /* Volunteer */
  .volunteer img {
    grid-area: 2/1/4/2;
  }
  .volunteer p {
    grid-area: 2/2/3/4;
    padding-left: 20px;
  }
  .volunteer p:nth-of-type(2) {
    grid-area: 3/2/4/4;
  }
}

@media only screen and (min-width: 1000px) {
  .index_container,
  .hero .container,
  .yellow_wrap,
  .footer {
    max-width: 1300px;
  }
  .width_control,
  .hero_explore .container,
  .hero_exhibition .container,
  .hero_involved .container,
  .hero_contact .container,
  .hero_visit .container {
    max-width: 1100px;
  }
  /* Header */
  .menu-top {
    grid-template-columns: 270px 1fr auto;
  }
  .hamburger-menu {
    display: none;
  }
  nav {
    display: block;
    grid-column: 3/4;
    padding-right: 50px;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    display: block;
    font-size: 0.65em;
    padding-left: 35px;
  }
  /* Hero */
  .hero_background {
    display: none;
  }
  .hero {
    height: 450px;
    background-size: cover;
    margin-bottom: 80px;
  }
  .hero_index {
    background-image: url(../images/exhibition-1863344_1920.jpg);
  }
  .hero_explore {
    background-image: url(../images/roberto-nickson-396152.jpg);
  }
  .hero_exhibition {
    background-image: url(../images/celso-405219.jpg);
    background-position: center;
  }
  .hero_involved {
    background-image: url(../images/library-1132573_1920.jpg);
  }
  .hero_contact {
    background-image: url(../images/pawel-czerwinski--0xCCPIbl3M-unsplash.jpg);
  }
  .hero_visit {
    background-image: url(../images/scott-webb-102825.jpg);
    background-position-y: -60px;
  }
  .hero .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    bottom: -40px;
  }
  .intro-text {
    max-width: 585px;
    margin: unset;
    top: 0;
  }
  /* Main */
  .index_container {
    width: 90%;
  }
  /* Index */
  .card_blue li {
    font-size: 1.1em;
  }
  .index_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card_explore {
    grid-area: 1/1/2/3;
  }
  .card_opening {
    grid-area: 2/2/3/4;
  }
  .card_biology {
    grid-area: 3/1/4/4;
  }
  .card_events {
    grid-area: 1/3/2/4;
  }
  .card_admission {
    grid-area: 2/1/3/2;
  }
  .card {
    grid-template-columns: 1fr auto;
    padding: 0;
  }
  .card_explore {
    grid-template-rows: auto auto 1fr auto;
  }
  .card_explore a {
    grid-area: 4/1/5/2;
  }
  .card_explore img {
    grid-area: 1/2/5/3;
    max-height: 280px;
  }
  .card h2 {
    padding: 20px 0 0 20px;
  }
  .card p,
  .card h3 {
    padding-left: 20px;
  }
  .card a {
    margin: 30px 0 20px 20px;
  }
  .card_events li {
    font-size: 1em;
  }
  .card_opening img {
    max-width: 300px;
  }
  .card_opening h2 {
    grid-column: 1/3;
    padding-bottom: 10px;
  }
  .card_opening .time {
    padding-bottom: 20px;
  }
  .card_biology h3 {
    grid-area: 2/1/3/2;
  }
  .card_biology p {
    grid-area: 3/1/4/2;
  }
  .card_biology img {
    grid-area: 1/2/6/3;
    max-height: 100%;
    margin: 0;
    margin-left: 40px;
  }

  /* Exhibition */
  .text_card_2 h2,
  .text_card_2 p {
    grid-column: unset;
  }
  .text_card_2 p:nth-of-type(2),
  .text_card_2 p:nth-of-type(3),
  .robo_card p {
    grid-area: unset;
  }
  .text_card_2 img,
  .robo_card img {
    grid-row: unset;
  }
  .text_card_2 {
    grid-template-columns: 1fr 1fr;
  }
  .text_card_2 img {
    grid-area: 1/2/5/3;
    justify-self: right;
    max-width: 100%;
    padding-top: 40px;
  }
  .bg_yellow .text_card_2 img {
    grid-area: 1 /1/5/2;
    justify-self: left;
    padding-right: 20px;
  }
  .bio_card {
    grid-template-columns: 2fr 1fr;
  }
  .bio_card img {
    max-height: 430px;
  }

  /* Volunteer */
  .involved img {
    grid-row: 1/4;
    padding-top: 40px;
  }
  .involved h2 {
    grid-area: 1/1/2/2;
  }
  .volunteer h2 {
    grid-area: 1/2/2/4;
  }

  /* Contact */
  .contactform {
    display: grid;
    grid-template-columns: auto 5% 1fr;
    row-gap: 20px;
  }
  .contactform input,
  .contactform textarea {
    grid-column: 3/4;
  }
  #submit {
    grid-column: 3/4;
  }
  .contactform label {
    justify-self: end;
    padding: 0;
  }
  .contact_h2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .section_form {
    max-width: 650px;
  }

  /* Visit */
  .visit_main {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 40px;
  }
  #shop p {
    padding-bottom: 40px;
  }

  /* Article */
  .one {
    display: none;
  }
  .some {
    display: inline;
  }

  .card_exhibition {
    display: block;
    height: 100%;
  }
  .card_exhibition img {
    width: 100%;
  }
  .yellow_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 15px;
  }
  .yellow_wrap h2 {
    grid-column: 1/4;
    justify-self: start;
  }
  .yellow_wrap h3 {
    font-size: 2em;
  }
  .yellow_wrap p {
    padding: 10px 10px 25px 10px;
  }
  .yellow_wrap .cta_red {
    grid-column: 1/4;
    max-width: none;
    font-size: 1.5em;
  }

  /* Footer */
  .footer {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .footer div:nth-of-type(2) {
    grid-column: 2/3;
  }
  .footer div:nth-of-type(3) {
    grid-column: 3/4;
  }
  .footer div:nth-of-type(4) {
    grid-column: 4/5;
  }
  .social {
    grid-column: 1/5;
  }
}
@media only screen and (min-width: 1150px) {
  /* Header */
  .menu-top {
    grid-template-columns: 400px 1fr auto;
  }
  /* Index */
  .index_container {
    gap: 30px;
  }
  .card_events li {
    font-size: 1.1em;
  }
  .cta_blue {
    justify-self: start;
    padding-left: 50px;
    padding-right: 50px;
  }
  .card_opening h2 {
    grid-column: 1/2;
  }
  .card_opening img {
    grid-row: 1/4;
    max-height: 292px;
  }
  .opening_newline {
    display: inline;
  }
  #time_padding {
    padding-top: 5px;
  }
}
@media only screen and (min-width: 1300px) {
  /* Header */
  .hero {
    height: 550px;
  }
  .menu-top {
    grid-template-columns: 500px 1fr auto;
    height: 100px;
  }

  /* Index */
  .small_h2 {
    font-size: 1.7em;
  }
  .card h2 {
    padding: 40px 0 0 40px;
  }
  .card p,
  .card h3 {
    padding-left: 40px;
  }
  .card a {
    margin: 40px 0 40px 40px;
  }
  .card_biology img {
    max-height: 100%;
    max-width: 500px;
    object-fit: cover;
  }
  .card_blue p,
  .card_blue h3,
  .card_red p,
  .card_red h3 {
    padding-left: 40px;
  }
  .card_blue p,
  .card_red p {
    padding-right: 40px;
  }
  /* Article */
  .yellow_wrap {
    gap: 30px;
  }
  .yellow_wrap .card_exhibition:nth-of-type(2) {
    justify-self: center;
  }
  .yellow_wrap .card_exhibition:nth-of-type(3) {
    justify-self: end;
  }
  .yellow_h2 {
    font-size: 2em;
  }

  /* Contact */
  .contact_card p,
  .contact_card h3 {
    padding-left: 0;
  }
  /* Footer */
  .footer {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  #social {
    grid-column: 5/6;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}

@media only screen and (min-width: 1300px) {
  nav a {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1921px) and (min-height: 1081px) {
  .hero {
    height: 60vh;
  }
}
